body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  height: 100vh;
  display: grid;
  place-items: center;

  font-family: Roboto, sans-serif;
}

.input-container {
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.input-container img {
  width: 64px;
  height: 64px;

  margin-bottom: 8px;
}

.input-container strong {
  text-align: center;
}

#csv-input {
  display: none;
}